@charset "UTF-8";
nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #1ed760;
  z-index: 1000;
  /*
   .nav__link--active{
      background-color: $verde-boton;
   }*/ }
  nav .nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out; }
  nav .nav__link:hover {
    background-color: #1db954; }

.card-text {
  color: #000000; }

.card {
  margin-top: 20px; }

.dark-mode {
  background-color: #191414;
  color: #fff; }

.botondarkmode {
  display: inline-block;
  animation: scale linear 2s infinite;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 12px; }

@keyframes scale {
  0%, 100% {
    transform: rotate(0deg); }
  30% {
    transform: rotate(3deg); }
  70% {
    transform: rotate(-3deg); } }

h1 {
  background: linear-gradient(to right, #aaffa9, #11ffbd); }

.form-compras {
  justify-content: center;
  text-align: center;
  margin: 50px; }

.form-compras .form-control {
  margin: 15px; }

.boton_compras, #boton-agregarlinea {
  margin: 3px;
  background: linear-gradient(to right, #aaffa9, #11ffbd);
  border: none;
  color: #fff;
  padding: 15px 30px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; }

#tabla-trabajos {
  margin-top: 10%; }

.grid-3 {
  margin-left: 10px; }

@media (min-width: 1000px) {
  .nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 250px;
    background-color: #1ed760;
    padding: 6px 4px;
    z-index: 1000;
    border-radius: 0px 15px 15px 0px;
    border: none;
    display: block; }
  .nav .nav__link {
    margin-top: 30px;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    margin: 0px;
    padding: auto;
    margin-top: 50px; }
  .container {
    margin-left: 190px; }
  .trabajos-info {
    margin-left: 190px; }
  .form-compras {
    margin-left: 270px;
    margin-right: 100px;
    margin-top: 150px; }
  .form-compras .form-control {
    margin: 15px; }
  #alerta {
    margin-left: 270px; }
  #tabla-trabajos {
    margin-top: 10%; }
  .table-info {
    margin-left: 35%;
    margin-right: 10%; }
  .grid-3 {
    margin-left: 270px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 5%; }
  #rendimiento-titulo {
    margin-left: 270px; }
  .botondarkmode {
    margin-left: 270px; }
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
  .card {
    margin-top: 50px;
    margin-left: 50px;
    position: relative;
    /*tamaño de la tarjeta*/
    width: 250px;
    height: 250px;
    color: #757575c7;
    background-size: cover;
    overflow: hidden;
    border: 1px; }
  .card_content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: #fff; }
  .bienvenida-login {
    display: flex; }
  .bienvenida {
    border-radius: 0px 23px 23px 0px;
    width: 50%;
    background-color: #04AA6D;
    height: 100%; }
  .login {
    width: 50%;
    background-color: white;
    height: 100%; }
  .img-welcome {
    align-content: center;
    width: 80%;
    margin: 80px; }
  .title-welcome {
    margin-top: 7rem;
    text-align: center;
    font-size: 60px; }
  .title-login {
    margin-top: 10rem;
    text-align: center;
    font-size: 80px; }
  .autho {
    align-items: center;
    margin: 100px;
    display: grid; }
  .login-input {
    margin: 15px;
    font-size: 25px;
    border: none; }
  .boton-login {
    margin-top: 25px;
    font-size: 30px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(to right, #aaffa9, #11ffbd); }
  .container {
    display: flex;
    justify-content: center; }
  .card {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 1rem;
    -webkit-box-shadow: 15px 10px 11px -4px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 15px 10px 11px -4px rgba(0, 0, 0, 0.42);
    box-shadow: 15px 10px 11px -4px rgba(0, 0, 0, 0.42);
    padding: 1em; }
  .card__meta {
    margin-left: 1em; }
  .card__meta h2 {
    margin: .5em 0 0 0;
    font-size: 1.5em; }
  .card__meta__field {
    margin-top: .5em;
    font-size: .9em; }
  .card__meta__field--italic {
    font-style: italic; }
  .card__meta__field--secondary {
    color: #777; }
  .card__meta__field--secondary a {
    color: #777; } }

/*----------------------------MAP GET---------------------------*/
.footer {
  background-color: #3a5795;
  color: red;
  text-align: center;
  font-size: 30px;
  padding: 10px; }

/*---------------------EXTEND------------------*/
/*Voy a traer la configuracion de Boton compras para copiar el formato y cambiar el backgroud del boton agregar linea*/
#boton-agregarlinea {
  background: linear-gradient(to right, #22c1c3, #fdbb2d); }

/*MIXIN*/
#rendimiento-titulo {
  background: linear-gradient(to right, #22c1c3, #fdbb2d);
  font-size: 30px; }
