//en scss lo hare mobile first
//Variables
$verde-claro:#1ed760;
$blanco-background:#fff;
$verde-oscuro:#1db954;
$gradiente-claro:#aaffa9;
$gradiente-oscuro:#11ffbd;
$gris:#757575;
$verde-boton:#04AA6D;
$darkmode:#191414;
$mobile:300px;
$desktop:1000px;

//Menu
nav{
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 50px;
   box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.2);
   background-color: $verde-claro;
   z-index: 1000;

   .nav__link{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      min-width: 50px;
      overflow: hidden;
      white-space:nowrap;
      font-family: sans-serif;
      font-size: 13px;
      color: $blanco-background;
      text-decoration: none;
      -webkit-tap-highlight-color: transparent;
      transition: background-color 0.1s ease-in-out;
   }

   .nav__link:hover{
      background-color: $verde-oscuro;
   }
   .nav__link--active{
      background-color: $verde-boton;
   }
}
.card-text{
   color:#000000
}

.card{
   margin-top: 20px;
}
//Boton darkmode
.dark-mode{
   background-color: $darkmode;
   color: $blanco-background;
}
.botondarkmode{//estetica del boton
   display:inline-block;
   animation: scale linear 2s infinite;
   border: none;
   background-color: rgba(255,255,255,0.3);
   border-radius:12px;
}
//Animacion de giro del boton
@keyframes scale{
   0%, 100%{
      transform: rotate(0deg);
   }
   30%{
      transform: rotate(3deg);
   }
   70%{
      transform: rotate(-3deg);
   }
}

//formulario compras

h1{
   background: linear-gradient(to right, $gradiente-claro, $gradiente-oscuro);
}
.form-compras{
   justify-content: center;
   text-align: center;
   margin:50px;
}

.form-compras .form-control{
   margin: 15px;
}

.boton_compras{
   margin: 3px;
   background:linear-gradient(to right, $gradiente-claro, $gradiente-oscuro);
   border:none;
   color: $blanco-background;
   padding: 15px 30px;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
}

//version desktop




@media (min-width: #{$desktop}) {
   .nav{
      position: fixed;
      left: 0;
      top:0;
      height: 100%;
      width: 250px;
      background-color: $verde-claro;
      padding: 6px 4px;
      z-index: 1000;
      border-radius: 12px;
      border: none;
      display: block;
   }

   .nav .nav__link{
      margin-top: 30px;
      justify-content: center;
      text-align: center;
      font-size: 25px;
      margin: 0px;
      padding: auto;
      margin-top: 50px;
  }
  
  .container{
      margin-left: 190px;
  }
  
  .trabajos-info{
      margin-left: 190px;
  }
  
  .form-compras{
      margin-left: 270px;
      margin-right: 100px;
      margin-top: 150px;
  }
  
  .form-compras .form-control {
      margin: 15px;
  }
  
  #alerta{
      margin-left: 270px;
  }
  
  .table-info{
      margin-left: 35%;
  }
  
  .grid-3{
      margin-left: 270px;
  }
  
  #rendimiento-titulo{
      margin-left: 270px;
  }

  .botondarkmode{
   margin-left: 270px;
  }

  .cards{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}

.container{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}
   
.card{
   margin-top: 50px;
   margin-left: 50px;
   position: relative;
   /*tamaño de la tarjeta*/
   width: 250px;
   height: 250px;
   color: #757575c7;

   background-size: cover;
   overflow: hidden;
   border: 1px;
}

.card_content{
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   padding: 20px;
   background-color: #fff;
   

}





}