body{
    margin: 0 0 55px;
}

footer{
    margin-top: 50px;
}

h3{
    color: #737375;
}

/*-----------------------------Menu Inferior------------------------------------------*/
.nav{
    position: fixed;/*esto lo coloca en la parte inferior*/
    bottom:0;
    width: 100%;
    height: 50px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #1ed760;
    
    overflow-x: auto;
    z-index: 1000; /*para que se vea encima de todo soluciona el problema de que las tarjetas lo tapen.*/
}

.nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow:1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 13px;
    color: #Fff;
    text-decoration: none;/*esto le saca lo subrayado al a*/
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

.nav__link:hover{
    background-color: #1db954;
    
}

.nav__link--active{
    color:#fff;
}

.portada{
    align-content: center;
    height: 50%;
    width: 20%;
    margin-left: 50px;
}

/*Compras*/

.form-compras{
    justify-content:center;
    text-align: center;
   
}

.boton_compras{
    background: linear-gradient(to right, #aaffa9, #11ffbd);
    border: none; 
    border-radius: 4px;
    color: #fff;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;

}

/*--------------------Equipamiento----------------------------*/

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
    
.card{
    margin-top: 50px;
    margin-left: 50px;
    position: relative;
    /*tamaño de la tarjeta*/
    width: 250px;
    height: 250px;
    color: #757575c7;

    background-size: cover;
    overflow: hidden;
    border: 1px;
}

.card_content{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    

}

/*---------------------------------INICIOOOOOO---------------------------------------------*/
.container {
    
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 1rem;
    -webkit-box-shadow: 15px 10px 11px -4px rgba(0,0,0,0.42);
    -moz-box-shadow: 15px 10px 11px -4px rgba(0,0,0,0.42);
    box-shadow: 15px 10px 11px -4px rgba(0,0,0,0.42);
    padding: 1em;
}


.card__meta {
    margin-left: 1em;
}

.card__meta h2 {
    margin: .5em 0 0 0;
    font-size: 1.5em;
}

.card__meta__field {
    margin-top: .5em;
    font-size: .9em;
}

.card__meta__field--italic {
    font-style: italic;
}

.card__meta__field--secondary {
    color: #777
}

.card__meta__field--secondary a {
    color: #777;
}


.table-info{
    margin: 70px;
}
/*Tablas*/
#trabajos-info{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#trabajos-info td, th{
    border: 1px solid #ddd;
    padding: 8px;
}

/*Efecto al pasar el mouse*/
#trabajos-info tr:nth-child(even){background-color: #f2f2f2;}
#trabajos-info tr:hover{background-color: #ddd;}

/*estilo del los titulos de las columnas*/
#trabajos-info th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #F6C915;
    color: white;
}

.container {margin: 0 -5px;}

/* Clear floats after the columns */
.container:after {
  content: "";
  display: table;
  clear: both;
}
/*---------------------------------Responsive---------------------------------------------*/

@media only screen and (max-width: 600px){



    .nav .nav__text{
        display: none;
        width: 100%;
    }
    .nav{
        display: flex;
    }
/*responsive cartas de inicio*/
    .container{
        width: 100%;
        display: block;
        margin-bottom: 20px;
        
    }
/*responsive cartas de equipamiento*/
    .cards{
        width: 100%;
       display: inline-block;
        margin-bottom: 20px;
    }

    .card__meta{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 16px;
        text-align: center;

    }


    .table-info{
        display: grid;
        margin: auto;
        
    }
    
    .boton_compras{
        margin: 3px;
        background: linear-gradient(to right, #aaffa9, #11ffbd);
        border: none; 
        border-radius: 4px;
        color: #fff;
        padding: 15px 30px;
        
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
    
    }
    input{
        text-align: center;
    }

    .form-compras{
       margin:50px;
    }
    
    .form-compras .form-control {
        margin: 15px;
    }

}


@media (min-width: 750px) {
    .grid-3 { grid-template-columns: repeat(3, 1fr); }
}
.nav{
    display: flex;
}
 /*----------------------------Rendimiento-----------------------------------*/
.grid-3{
    display: grid;
    margin: 10px;
    max-width: 1000px;
}

 .grid-3 div{
    color: white;
    font-size: 20px;
    padding: 20px;
}



.text{
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

/*Menu lateral*/
@media (min-width: 1000px) {
.nav{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 250px;
    background-color: #1ed760;
    padding: 6px 4px;
    z-index: 1000;
    border-radius: 12px;
    border: none;
    display: block;
    
}


.nav .nav__link{
    margin-top: 30px;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    margin: 0px;
    padding: auto;
    margin-top: 50px;
}

.container{
    margin-left: 190px;
}

.trabajos-info{
    margin-left: 190px;
}

.form-compras{
    margin-left: 270px;
    margin-right: 100px;
    margin-top: 150px;
}

.form-compras .form-control {
    margin: 15px;
}

#alerta{
    margin-left: 270px;
}

.table-info{
    margin-left: 35%;
}

.grid-3{
    margin-left: 270px;
}

#rendimiento-titulo{
    margin-left: 270px;
}



}

/*----------------------------------Compras animacion compras----------------------------------------*/



.buttonload {
    background-color: #04AA6D; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    justify-content: center;
    margin-left: 270px;

  }

  /* boton darkmode*/
  .botondarkmode{
    display: inline-block;
    animation: scale linear 2s infinite;
    border: none;
    background-color: rgba(255,255,255,0.3);
    border-radius: 12px;
  }

  @keyframes scale{
    0%, 100%{
        transform: rotate(0deg);
    }
    30%{
        transform: rotate(3deg);
    }
    70%{
        transform: rotate(-3deg);
    }
  }


  /*Darkmode*/

  .dark-mode{
    background-color: #191414;
    color: white;
  }